<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      body {
        width: 1200px;
        height: 630px;
        font-family: "Inter", sans-serif;
        font-weight: 16px;
        overflow: hidden;
      }

      .wrapper {
        height: 100%;
        display: grid;
        place-items: center;
      }

      .wrapper > div {
        padding: 32px 64px;
      }

      .title {
        font-weight: 600;
        font-size: 3rem;
        line-height: 1.167;
        letter-spacing: 0em;
        margin-bottom: 0.35em;
      }

      .muted {
        color: #757575;
      }

      .subtitle {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.6;
        letter-spacing: 0.0075em;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div>
        <div class="title">{{ title }}</div>
        {{#if subtitle}}
        <div class="subtitle muted">{{ subtitle }}</div>
        {{/if}} {{#if author}}
        <div class="subtitle">{{ author }}</div>
        {{/if}}
      </div>
    </div>
  </body>
</html>
